extends layout

block content
  h1 Login
  br
  br
  p(id="login-error")
  br
  br
  form(action="/api/user/login", id="login-form", method="POST")
    label(for="email") Email 
    br
    input(type="email", name="email", id="email", required)
    br
    br
    label(for="password") Password 
    br
    input(type="password", name="password", id="password", required)
    br
    br
    input(type="submit", value="Login")
  script(src="/login.js")



