extends layout

block content
  h1= title
  br
  br
  input(type="email", placeholder="Email", name="login-email", id="login-email")
  br
  br
  input(type="password", placeholder="Password", name="login-password", id="login-password")
  br
  br
  input(type="submit", value="Submit", name="login-submit", id="login-submit")


